---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="CV">
  <div class="prose max-w-none text-center mt-20">
    <h1 class="text-3xl font-bold mb-8">
      Download my full CV here 📄
    </h1>
    <a
      href="/files/Sarah_Rossi_CV_20_September2025.pdf"
      class="btn btn-primary btn-lg"
      download
    >
      Download CV
    </a>
  </div>

  {/* 
  --- codice pronto da riattivare ---

  import { experiences, education, skills, publications } from "@/data/cv";

  <ul class='timeline timeline-snap-icon max-md:timeline-compact timeline-vertical'>
    {
      education.map((element, index) => (
        <li>
          <div class='timeline-middle'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class:list={[{ 'text-accent': true }, 'h-5 w-5']}>
              <path fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z' clip-rule='evenodd' />
            </svg>
          </div>
          <div class={`${index % 2 === 0 ? 'timeline-start' : 'timeline-end'} mb-10 md:text-end`}>
            <time class='font-mono italic'>{element.time}</time>
            <div class='text-lg font-black'>{element.degree}</div>
            <div>{element.thesis}</div>
            <div><strong>Supervisor:</strong> {element.supervisor} {element.coSupervisor ? `; Co-supervisor: ${element.coSupervisor}` : ''}</div>
            <div>{element.institution}</div>
            <div>{element.location}</div>
          </div>
          <hr class='bg-accent' />
        </li>
      ))
    }
  </ul>

  */}
</Layout>
