---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
    authors?: string;
    journal: string;
    time: string;
    link?: string;
  }[];
}

const { listTitle, listItems } = Astro.props;
---

<h2 class='text-3xl font-bold mb-8'>{listTitle}</h2>

<div class='space-y-6'>
  {
    listItems.map(item => (
      <div class='p-6 rounded-lg text-base-content bg-base-200'>
        <h3 class='text-xl font-semibold mb-2'>
          {
            item.link
              ? <a href={item.link} class="underline text-accent hover:text-accent-focus">{item.title}</a>
              : item.title
          }
        </h3>

        {item.authors && (
          <p class="italic text-sm mb-1">{item.authors}</p>
        )}

        <p>
          {item.journal} • {item.time}
        </p>
      </div>
    ))
  }
</div>
