---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    <span class='text-secondary'>{fullName}</span>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text mb-6'>
  <strong>I'm a 3rd year PhD Candidate in Theoretical and Experimental Linguistics</strong> at 
  <a href="https://www.iusspavia.it/it"><u>IUSS Pavia</u></a> (Italy) under the supervision of 
  Prof. Cristiano Chesi and Prof. Adriana Belletti.
  <br />
  My research mainly revolves around the syntax of imperative clauses (but see below for more details!). I work within the framework of generative grammar, combining formal theory with first language
  acquisition data, corpus studies, and computational methods. 
 <br />
  I am a member of the <strong><a href="https://nets-lab.github.io" target="_blank"><u>NeTS Lab</u></a></strong>
  (<em>Laboratory for Neurolinguistics, Computational Linguistics and Theoretical Syntax</em>),
  directed by Prof. Cristiano Chesi.
   <br />
  Beyond my research, I enjoy running, yoga, crochet, crafting handmade jewellery 💍, reading fiction and poetry, and occasionally writing poems of my own 📖✍️. 
  <p class="text-center text-lg mt-8">
  Get in touch: <a href="mailto:sarah.rossi@iusspavia.it" class="underline text-accent hover:text-accent-focus">sarah.rossi@iusspavia.it</a>
</p>

  

  </p>
  <div class='flex justify-center gap-4 mt-4'>
    <SocialIcons />
  </div>
</div>
<div class='size-72 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    alt={fullName}
    class="w-80 h-auto rounded-lg object-cover shadow-md -mt-16"
  />
</div>
